<h2>YOU ARE LISTENING TO MUSIC</h2>

<div class="row col-md-6 col-md-offset-3 col-xs-12">
  <div class="well container-fluid playa">
    <section class="btn-group center-block row col-sm-12">
    <button class="btn btn-default col-sm-1">
      <i class="glyphicon glyphicon-play">
      </i>
    </button>
    <div class="btn btn-default col-sm-4 hidden-xs">
      <input type="range" min="0" value="0" class="seek" max="1.515102" seek="0.01515102" style="background: -webkit-linear-gradient(left, rgb(223, 240, 216) 0%, rgb(223, 240, 216) 0%, rgba(223, 240, 216, 0) 0%, rgba(217, 237, 247, 0) 0%, rgb(217, 237, 247) 0%, rgb(217, 237, 247) 100%, rgba(217, 237, 247, 0) 100%) rgb(221, 221, 221);">
    </div>
    <button class="btn btn-default col-sm-3" data-original-title="Click to Reset<hr style='padding:0; margin:0;' />Position: 00:00" title>00:01</button>
    <button class="btn btn-default col-sm-1">
      <i class="glyphicon glyphicon-volume-up">
      </i>
    </button>
    <div class="btn btn-default row col-sm-3 hidden-xs">
      <input type="range" min="0" max="1" step="0.01" value="1">
    </div>
    </section>
  </div>
  <audio src="<%= song.escape('song_url') %>" type="audio/mpeg">
    An html5-capable browser is required to play this audio.
  </audio>
