  <div class='footer'>
      <audio controls>
        <source src="<%= song.escape('song_url') %>" type="audio/mpeg" />
        <a href="<%= song.escape('song_url') %>"><%= song.escape('title') %></a>
        An html5-capable browser is required to play this audio.
      </audio>
  </div>
