<div class="btn-group userwindow" role="group" aria-label="...">
  <button type="button" class="btn btn-primary follow
  <% if (uploader.isFollowed()) { %>
    active">Unfollow</button>
  <% } else { %>
    ">Follow</button>
  <% } %>
  <button type="button" class="btn btn-primary view">View</button>
</div>
