<div class='row'>
  <div class='center span9'>
    <div class='col-xs-3 col-xs-offset-4'>
        <form class='playlist-form'>
          <div class='form-group'>
            <label for='form-title'>Title:</label>
            <input type='text' name='title' id='form-title' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='description'>Description:</label>
            <textarea name='description' class='form-control'></textarea><br>
          </div>
          <button class='btn btn-default submit'>Create Playlist</button>
        </form>
    </div>
  </div>
</div>
