<div class='row'>
  <div class='center span9'>
    <div class='col-xs-3 col-xs-offset-4'>
        <form class='song-form'>
          <div class='form-group'>
            <label for='form-artist'>Artist:</label>
            <input type='text' name='artist' id='form-artist' class='form-control'
              value="<%= song.escape('artist') %>"><br>
          </div>
          <div class='form-group'>
            <label for='form-title'>Title:</label>
            <input type='text' name='title' id='form-title' class='form-control'
              value="<%= song.escape('title') %>"><br>
          </div>
          <div class='form-group'>
            <label for'form-tags'>Tags (ex: rock epic slow-jamz):</label>
            <input type='text' name='tagstring' id='form-tags' class='form-control'
              value="<%= tagString %>"><br>
          </div>
          <div class='form-group'>
            <label for='description'>Description:</label>
            <textarea name='description' class='form-control'><%= song.escape('description') %></textarea><br>
          </div>
            <button class='btn btn-default save'>Save</button>
        </form>
    </div>
  </div>
</div>
