<ul>
  <li>Artist: <%= song.escape('artist') %></li>
  <li>Title: <%= song.escape('title') %></li>
  <li>Image Url: <%= song.escape('image_url') %></li>
  <li>URL: <%= song.escape('song_url') %></li>
</ul>
