<div class="row song-show">
  <div class="col-xs-3">
    <div class='song-show-image'>
    <img src="<%= song.get('large_image_url') %>" alt="<%= song.escape('title') %>
      height="300" width="300">
    </div>
    <div class='song-show-uploader-links-container'>
    </div>
  </div>
  <div class="col-xs-8 song-show-item-col">
    <div class='song-show-song'>
    </div>
    <div class='song-show-description'>
      <%= song.escape('description') %>
    </div>
  </div>
</div>
