<div class='row'>
  <div class='center span9'>
    <div class='col-xs-3 col-xs-offset-4'>
        <form>
          <div class='form-group'>
            <label for='form-artist'>Artist:</label>
            <input type='text' name='artist' id='form-artist' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='form-title'>Title:</label>
            <input type='text' name='title' id='form-title' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='files'>File:</label>
            <input type='file' name='files[]' id='files' class='form-control'><br>
          </div>
            <button class='upload'>Upload</button>
        </form>
    </div>
  </div>
</div>
