<div class='row'>
  <div class='center span9'>
    <div class='col-xs-3 col-xs-offset-4'>
        <form class='song-form'>
          <div class='form-group'>
            <label for='form-artist'>Artist:</label>
            <input type='text' name='artist' id='form-artist' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='form-title'>Title:</label>
            <input type='text' name='title' id='form-title' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='form-album'>Album:</label>
            <input type='text' name='album' id='form-title' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='files'>Song:</label>
            <input type='file' name='files[]' id='song' class='form-control'><br>
          </div>
          <div class='form-group'>
            <label for='description'>Description:</label>
            <textarea name='description' class='form-control'></textarea><br>
          </div>
            <button class='upload'>Upload</button>
        </form>
    </div>
  </div>
</div>
