body {
  padding-bottom: 75px;
}

html {
  position: relative;
  min-height: 100%;
}

ul {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

#main {
  width: 1220px;
  margin: auto;
}



.navbar-search {
  padding-right: 15px;
}

.upload {
  float: left;
}

.playlist-item {
  padding-left: 5px;
}

.playlist-item:hover {
  cursor: pointer;
  background: #34A6E7;
  color: #fff;
}

.playlist-length.badge {
  position: absolute;
  top: 80px;
  left: 5px;
}

.playlist-index-item {
  position: relative;
  float: left;
  margin-right: 15px;
  padding: 10px;
}

.playlist-index-item:hover {
  border: 2px solid #34A6E7;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.playlist-index-item:hover .playlist-length.badge {
  top: 78px;
  left: 3px;
}

.progress {
  position: relative;
  top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: 5px;
}

.inactive {
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 80%;
  margin: 0px auto -5px 9%;
  -webkit-transition: margin-bottom 1s;
  transition: margin-bottom 1s;
}

#footer .mejs-controls{
  bottom: auto;
  height: 40px;
  background: linear-gradient(rgba(83, 179, 235, 1), rgba(29, 156, 229, 1));
  border-radius: 3px;
}

#footer.initial {
  margin-bottom: -70px;
}

#footer.well {
  padding: 14px;
}

.song-image {
  float: left;
  margin-right: 15px;
}


.toggle-play:hover {
  cursor: pointer;
}

.logo {
  position: relative;
  bottom: 5px;
}

.panel-body {
  height: 130px;
}

.panel-body .container {
  width: 540px;
}

.playlist-bar.row {
  margin-top: 3px;
}

.playlist-bar .col-xs-5 {
  margin-left: 30%;
}

.btn-playlist {
  padding: 2px 8px 2px 8px;
}

.btn-playlist:first-child {
  width: 160px;
}

.tags {
  text-align: center;
}

.time-ago.col-xs-3 {
  width: 29%;
}

.song-item {
  float: left;
  margin-top: 5px;
  padding: 10px;
  white-space: nowrap;
  height: 40px;
  width: 121%;
  font-size: 16px;
  font-weight: bold;
}

.song-item.title {
  position: relative;
  left: 50px;
  text-align: right;
}


.song-attrs.row{
  height: 50px;
}
.song-item-top.row {
  height: 20px;
}
.current-song {
  background-color: #f5f5f5;
  -moz-box-shadow:    inset 0 0 3px #aaa;
  -webkit-box-shadow: inset 0 0 3px #aaa;
  box-shadow:         inset 0 0 3px #aaa;
}

.mejs-mediaelement {
  background-color: #f5f5f5;
}

.mejs-container {
  margin: auto;
}

#footer .mejs-button {
  margin-top: 5px;
}

#footer .mejs-time-slider {
  margin-top: 10px;
}

#footer .mejs-time {
  padding-top: 15px;
}

#footer .mejs-horizontal-volume-total {
  top: 16px;
}

#footer .mejs-horizontal-volume-current {
  top: 16px;
}

.progress-radial {
  float: left;
  position: relative;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #34A6E7;
  -moz-box-shadow:    inset 0 0 4px #555;
  -webkit-box-shadow: inset 0 0 4px #555;
  box-shadow:         inset 0 0 4px #555;

}

.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  -moz-box-shadow:     0 0 4px #555;
  -webkit-box-shadow:  0 0 4px #555;
  box-shadow:          0 0 4px #555;
}

.toggle-play .glyphicon-play, .toggle-play .glyphicon-pause {
  position: relative;
  font-size: 1.5em;
  top: 5px;
  left: 2px;
}

.progress-0 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-1 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(94deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-2 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(98deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-3 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(102deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-4 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(105deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-5 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-6 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(112deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-7 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(116deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-8 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(120deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-9 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(123deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-10 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-11 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(130deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-12 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(134deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-13 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(138deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-14 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(141deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-15 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-16 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(148deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-17 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(152deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-18 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(156deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-19 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(159deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-20 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-21 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(166deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-22 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(170deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-23 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(174deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-24 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(177deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-25 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-26 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(184deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-27 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(188deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-28 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(192deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-29 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(195deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-30 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-31 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(202deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-32 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(206deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-33 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(210deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-34 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(213deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-35 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-36 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(220deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-37 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(224deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-38 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(228deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-39 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(231deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-40 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-41 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(238deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-42 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(242deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-43 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(246deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-44 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(249deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-45 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-46 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(256deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-47 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(260deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-48 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(264deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-49 {
  background-image: linear-gradient(90deg, #F5F5F5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(267deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-51 {
  background-image: linear-gradient(-86deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-52 {
  background-image: linear-gradient(-82deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-53 {
  background-image: linear-gradient(-78deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-54 {
  background-image: linear-gradient(-75deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-56 {
  background-image: linear-gradient(-68deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-57 {
  background-image: linear-gradient(-64deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-58 {
  background-image: linear-gradient(-60deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-59 {
  background-image: linear-gradient(-57deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-61 {
  background-image: linear-gradient(-50deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-62 {
  background-image: linear-gradient(-46deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-63 {
  background-image: linear-gradient(-42deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-64 {
  background-image: linear-gradient(-39deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-66 {
  background-image: linear-gradient(-32deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-67 {
  background-image: linear-gradient(-28deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-68 {
  background-image: linear-gradient(-24deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-69 {
  background-image: linear-gradient(-21deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-71 {
  background-image: linear-gradient(-14deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-72 {
  background-image: linear-gradient(-10deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-73 {
  background-image: linear-gradient(-6deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-74 {
  background-image: linear-gradient(-3deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-75 {
  background-image: linear-gradient(0deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-76 {
  background-image: linear-gradient(4deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-77 {
  background-image: linear-gradient(8deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-78 {
  background-image: linear-gradient(12deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-79 {
  background-image: linear-gradient(15deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-80 {
  background-image: linear-gradient(18deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-81 {
  background-image: linear-gradient(22deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-82 {
  background-image: linear-gradient(26deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-83 {
  background-image: linear-gradient(30deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-84 {
  background-image: linear-gradient(33deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-85 {
  background-image: linear-gradient(36deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-86 {
  background-image: linear-gradient(40deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-87 {
  background-image: linear-gradient(44deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-88 {
  background-image: linear-gradient(48deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}
.progress-89 {
  background-image: linear-gradient(51deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}


.progress-90 {
  background-image: linear-gradient(54deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-91 {
  background-image: linear-gradient(58deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-92 {
  background-image: linear-gradient(62deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-93 {
  background-image: linear-gradient(66deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-94 {
  background-image: linear-gradient(69deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-95 {
  background-image: linear-gradient(72deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-96 {
  background-image: linear-gradient(76deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-97 {
  background-image: linear-gradient(80deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-98 {
  background-image: linear-gradient(84deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-99 {
  background-image: linear-gradient(87deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}

.progress-100 {
  background-image: linear-gradient(90deg, #34A6E7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #34A6E7 50%, #F5F5F5 50%, #F5F5F5);
}
