body {
  padding-bottom: 75px;
}

html {
  position: relative;
  min-height: 100%;
}

ul {
  list-style-type: none;
}

.navbar-search {
  padding-right: 15px;
}

.upload {
  float: left;
}

.progress {
  width: 70%;
  margin-left: auto;
  margin-right: 5px;
}

.inactive {
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 80%;
  margin: 0px auto -5px 9%;
  -webkit-transition: margin-bottom 1s;
  transition: margin-bottom 1s;
}

#footer .mejs-controls{
  bottom: auto;
  height: 40px;
  background: linear-gradient(rgba(83, 179, 235, 1), rgba(29, 156, 229, 1));
  border-radius: 3px;
}

#footer.initial {
  margin-bottom: -70px;
}

#footer.well {
  padding: 14px;
}

.song-image {
  float: left;
  margin-right: 15px;
}

.toggle-play {
  position: relative;
  top: -10px;
}

.panel-body {
  height: 130px;
}

.song-item {
  display: flex;
  float: left;
  margin: 5px;
  margin-top: 10px;
}

.current-song {
  background-color: #f5f5f5;
  -moz-box-shadow:    inset 0 0 3px #aaa;
  -webkit-box-shadow: inset 0 0 3px #aaa;
  box-shadow:         inset 0 0 3px #aaa;
}

.mejs-mediaelement {
  background-color: #f5f5f5;
}

.mejs-container {
  margin: auto;
}

#footer .mejs-button {
  margin-top: 5px;
}

#footer .mejs-time-slider {
  margin-top: 10px;
}

#footer .mejs-time {
  padding-top: 15px;
}

#footer .mejs-horizontal-volume-total {
  top: 16px;
}

#footer .mejs-horizontal-volume-current {
  top: 16px;
}
