<div class="user-results pull-right">
  <ul class='list-group'>
    <% users.each( function(user) { %>
      <li class='list-group-item'> <%= user.escape('username') %> </li>
    <% }) %>
  </ul>
</div>
