<div class='row'>
  <div class='col-xs-4'>
    Artist:
    <div class='songs-by-artist'>
    </div>
  </div>
  <div class='col-xs-4'>
    Title:
    <div class='songs-by-title'>
    </div>
  </div>
  <div class='col-xs-2'>
    Users
    <div class='users'>
    </div>
  </div>
  <div class='col-xs-2'>
    Tags
    <div class='tags'>
    </div>
  </div>
</div>
