<ul class='nav-justified list-group results-nav'>
  <div class='results-nav-active-background well'></div>
  <li role="presentation" class='results-type songs-by-artist-pill'>
    <div class='pill-inner-div songs-by-artist-link'>Songs by Artist</div></li>
  <li role="presentation" class='results-type songs-by-title-pill'>
    <div class='pill-inner-div songs-by-title-link'>Songs by Title</div></li>
  <li role="presentation" class='results-type users-pill'>
    <div class='pill-inner-div users-link'>Users</div></li>
  <li role="presentation" class='results-type tags-pill'>
    <div class='pill-inner-div tags-link'>Tags</div></li>
</ul>
<div class="results-main">
</div>
